.download-section {
  padding-block: var(--space-block-small);
  padding-inline: var(--space-inline-small);
  --vertical-space: 7rem;
}
.download-section p {
  opacity: 0.5;
  font-size: var(--fs-takeaction-medium);
}
.download-header {
  text-align: center;
  --vertical-space: 1rem;
}
.download-header h2 {
  font-size: var(--fs-takeaction-xlarg);
}

.download-extensions {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}
.extension {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
  padding-block: var(--space-block-small);
}
.extension-img {
  width: 100px;
  margin-bottom: 2rem;
}
.extension h3 {
  font-size: var(--fs-takeaction-larg);
  margin-bottom: -0.5rem;
}
.bg-dots {
  margin-block: var(--space-block-small);
}
@media screen and (min-width: 800px) {
  .download-section {
    padding-block: var(--space-block-larg);
    --vertical-space: 2rem;
  }
  .download-header {
    max-width: 50%;
    margin-inline: auto;
  }
  .download-extensions {
    flex-direction: row;
    justify-content: center;
    row-gap: 0;
    column-gap: 3.4rem;
    max-width: 85%;
    margin-inline: auto;
  }
  .download-extensions > * {
    flex-grow: 0;
  }
  .download-extensions article:nth-child(2) {
    margin-top: 6rem;
  }
  .download-extensions article:nth-child(3) {
    margin-top: 12rem;
  }
}
