.footer {
  background-color: var(--clr-blue-dark);
  padding-block: var(--space-block-medium);
  padding-inline: var(--space-block-larg);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-wrapper .logo {
  margin-bottom: 2.5rem;
}

.footer__links {
  list-style: none;
}
.footer__links a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2.5rem;
  font-weight: 500;
  opacity: 0.75;
  font-size: var(--fs-footer);
}
.footer__links a:hover {
  color: var(--clr-soft-red);
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  margin-top: 3.5rem;
}
.footer-social svg {
  width: 30px;
}
@media screen and (min-width: 800px) {
  .footer-wrapper {
    flex-direction: row;
    text-align: left;
  }
  .footer-wrapper .logo {
    margin-bottom: 0;
    margin-right: 5rem;
  }
  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
  }
  .footer__links {
    display: flex;
    gap: 3.7rem;
  }
  .footer__links a {
    margin-bottom: 0;
  }
  .footer-social {
    margin-top: 0;
  }

  .footer-social a:hover {
    --social-clr: red;
  }
}
