.heroSection {
  max-width: var(--container-size);
  margin-block: var(--space-block-medium);
  padding-inline: var(--space-inline-small);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5rem;
}
.hero-details {
  text-align: center;
}
.hero-details h1 {
  font-size: var(--fs-hero-larg);
}
.hero-details p {
  opacity: 0.5;
  font-size: var(--fs-hero-medium);
}
.hero-btn-box {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .heroSection {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .hero-details {
    text-align: left;
    margin-top: 5rem;
  }
  .hero-details p {
    margin: 0 auto;
    max-width: auto;
  }
  .hero-image-box {
    margin-top: -8rem;
    min-width: 100%;
  }

  .hero-btn-box {
    justify-content: flex-start;
  }
}
